@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
    overflow-x: hidden;
}

$colorprincipal: rgb(0, 255, 0);
$colorsecundaria: rgb(179, 20, 199);
$colorbackground: linear-gradient(360deg, #110023, #775ab1);
$colororange: #ff8c28;
$myfont: oswald;

body {
    background-image: $colorbackground;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

/* topbar */
.topbar {
    height: 45px;

    .custom-text {
        color: $colorprincipal !important;
    }

    .socialIconos {
        margin: auto;

        .icono-lista {
            list-style: none;
        }

        /* color de social */
        .iconos {
            color: $colorsecundaria !important;
            position: relative;
        }
    }
}

/* img en general */
body img {
    width: 100%;
    height: 100%;
}

/*bottombar*/
.navbar-brand {
    color: $colorprincipal !important;
}

.nav-item {
    margin-right: 15px;
}

/* color de links en nav */
.nav-link {
    color: $colorprincipal !important;
    padding: 0 !important;
    position: relative;
}

.nav-link:hover {
    color: $colororange !important;
}

.cart-icon {
    color:black
}

.cart:hover .cart-icon {
    transform: scale(1.3);
    transition: transform ease-in-out 100ms;
}

// carrito
.sidebar {
    position: fixed;
    width: 350px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    right: -350px;
    transition:all 500ms ease-in-out ;
    z-index: 99999;

    h3{
        color: $colorprincipal;
    }

    p{
        color: $colorprincipal;
    }

    .precioProducto {
        padding-top: 10px;
    }
}

.sidebar.active {
    right: 0;
}

/* pag index */
/* seccion trabajos recientes */
.tituloTrabajos {
    text-transform: uppercase;
    color: $colorprincipal;
}

.carousel {
    max-width: 885px;
}

/* seccion servicio */
.titulo__servicio,.link-Lista {
    color: $colorprincipal;
}

/*hover de links servicios*/
.link-Lista:hover {
    color: $colororange
}

.listaServicios {
    padding: 0;
}

/* seccion contratame */
.contratame {
    text-transform: uppercase;
}

.btn-success {
    background-color: $colororange !important;
    border-color: $colororange !important;
}

.seccion-contactame {
    background-color: #523874;
}


/* pag servicios */
/* titulo de pag */
.texto-descripcion {
    @extend .titulo__servicio;

    .fancy-link {
        color: $colororange;
        position: relative;
        text-decoration: none;
    }
}

.tituloServicio {
    @extend .tituloTrabajos;
}

/* seccion pixel art */
.tituloPixel,.textPixel {
    @extend .titulo__servicio;
}

/*mi mixin */
@mixin background($position, $repeat, $bsize) {
    background-position: $position;
    background-repeat: $repeat;
    background-size: $bsize;
}

.card {
    background-color: rgba(0, 0, 0, 0.1)
}

.card-name {
    @extend .titulo__servicio;
    font-size: 1.5rem;
}

.card-tamaño {
    @extend .card-name;
}

.card-clase {
    @extend .card-name;
}

.card-precio {
    @extend .card-name;
}

.col-sm-4 {
    height: 320px;
}

/* seccion modelos */
.tituloModelo3D,.textModelo {
    @extend .titulo__servicio;
}

@each $model in model3D1,model3D4,model3D3 {
    .#{$model}-foto {
        background-image: url(../media/#{$model}.jpg);
        @include background(center, no-repeat, contain);
    }
}

/* seccion twitch */
.tituloTwitch,.textoTwitch {
    @extend .titulo__servicio;
}

@each $twitch in twitchEmote1,twitchEmote2,perfil1 {
    .#{$twitch}-emote {
        background-image: url(../media/#{$twitch}.jpg);
        @include background(center, no-repeat, contain);
    }
}

/* pag proyectos */
.tituloP,.textoP {
    @extend .tituloTrabajos;
}

/*link proyecto*/
.linkP {
    color: $colororange;
    text-decoration: none;
    position: relative;
}

.linkP:hover {
    color: $colororange
}

._tituloG {
    @extend .tituloTrabajos;
    font-size: 3rem;
}

._imgP {
    row-gap: 15px;
}

.galeria__item:hover .gallery__img {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 500ms ease;
}

/* pag aboutme */
.tituloSobreMi {
    @extend .tituloTrabajos;
}

.textoSobreMi {
    @extend .titulo__servicio;
}

.sobreMiCont {
    margin-left: auto;
    margin-right: auto;
}

/* pag contactame */
.tituloContactame,.textoContactame,.email,.labelNombre,.labelEmail,.labelMensaje {
    @extend .titulo__servicio;
}

.email_Link {
    @extend .linkP;
    text-decoration: none;
}

._tituloLegend {
    @extend .titulo__servicio;
    font-size: 2rem;
}

._imgContactame {
    background-image: url(../media/contactame1.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background-color: black;
    height: 83px;

    .socialIconos {
        margin: auto;
        padding: 0;

        .icono-lista {
            list-style: none;
        }

        /* color de social */
        .iconos {
            color: $colorsecundaria;
        }
    }
}

/*media queries*/
@media screen and (max-width:340px) {
    .custom-text {
        font-size: .57rem;
    }

    /* bottombar */
    .navbar-brand {
        font-size: 1.5rem;
    }

    /* carousel */
    .carousel-item {
        height: 22rem;
    }
    
}

@media screen and (min-width:340px) and (max-width:600px) {
    .custom-text {
        font-size: .7rem;
    }

    /* bottombar */
    .navbar-brand {
        font-size: 2rem;
    }

    /* carousel */
    .carousel-item {
        height: 26rem;
    }
}

@media screen and (max-width:600px) {
    /* seccion servicio */
    .listaServicios {
        padding: 0;
        gap: 40px;
    }
}

@media screen and (min-width: 600px) {
    /* bottombar */
    .navbar-brand {
        font-size: 3rem;
    }

    /* carousel */
    .carousel-item {
        height: 620px;
    }
}


@media screen and (min-width: 1024px) {
    /*bottombar*/
    .navbar-brand {
        color: $colorprincipal !important;
        font-family: $myfont;
    }

    .navbar-brand:hover {
        transform: scale(1.02);
        transition: transform 250ms;
        color: $colororange !important;
    }

    .nav-link {
        color: $colorprincipal !important;
        padding: 0 !important;
        position: relative;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .tituloTrabajos {
        text-transform: uppercase;
        color: $colorprincipal;
        font-family: $myfont;
    }

    .titulo__servicio,.link-Lista {
        color: $colorprincipal;
        font-family: $myfont;
    }

    .contratame {
        text-transform: uppercase;
        font-family: $myfont;
        font-size: 1.5rem;
    }

    .btn-success, .btnPixel {
        background-color: $colororange !important;
        border-color: $colororange !important;
        font-family: $myfont;
        font-size: 1.1rem;
    }

    .texto-descripcion {
        color: $colorprincipal;
        font-size: 1.5rem;
        
        .fancy-link {
            color: $colororange;
            position: relative;
            text-decoration: none;
        }
    }

    .tituloServicio {
        text-transform: uppercase;
        color: $colorprincipal;;
    }

    .tituloPixel {
        color: $colorprincipal;
        font-size: 2.5rem;
    }

    .textPixel {
        color: $colorprincipal;
        font-size: 1.5rem;
    }

    .tituloModelo3D {
        @extend .tituloPixel;
    }

    .textModelo {
    @extend .textPixel;
    }

    .tituloTwitch {
        @extend .tituloPixel;
    }

    .textoTwitch {
        @extend .textPixel;
    }

    .tituloP {
        @extend .tituloServicio;
    }

    .textoP {
        @extend .textPixel;
    }

    .tituloSobreMi {
        @extend .tituloServicio;
    }

    .textoSobreMi {
        @extend .tituloPixel;
    }

    .tituloContactame {
        @extend .tituloServicio;
    }

    .textoContactame,.email,.labelNombre,.labelEmail,.labelMensaje {
        color: $colorprincipal;
        font-size: 1.5rem;
    }
}

/*animaciones*/
/*topbar efecto*/
.effecto-icono:hover i {
    transform: translateY(-10px);
    transition: transform ease-in-out 200ms;
}
    
/*nav efecto*/
.nav-link::before {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    
    background-color: $colorprincipal;
    bottom: 23px;
    width: 0%;
    
    transition: all ease-in-out 200ms;
}

.nav-link:hover::before {
    width: 100%;
}

/*efecto link*/
.fancy-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $colororange;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform ease-in 250ms;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.linkP::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $colororange;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform ease-in 250ms;
}

.linkP:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
/*fin effecto link*/

/*efecto de boton*/
.btn {
    position: relative;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* fin efecto de boton*/