$colorprincipal: rgb(0, 255, 0);
$colorsecundaria: rgb(179, 20, 199);
$colorbackground: linear-gradient(175deg,#110023,#775ab1);

body {
    background-image: $colorbackground;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

/* topbar */
.topbar {
    height: 45px;
    .custom-text {
        color:$colorprincipal !important;
    }
    .socialIconos {
        margin: auto;
    
        .icono-lista {
            list-style: none;
        }
        /* color de social */
        .iconos {
            color: $colorsecundaria !important;
        }
    }
}

@media screen and (max-width:340px) {
    .custom-text {
        font-size: .5rem;
    }
}

@media screen and (min-width:340px) and (max-width:600px) {
    .custom-text {
        font-size: .7rem;
    }
}

/* bottombar */
@media screen and (max-width:340px) {
    .navbar-brand {
        font-size: 1.5rem;
        color: $colorprincipal !important;
    }
}

@media screen and (min-width:340px) and (max-width:600px) {
    .navbar-brand {
        font-size: 2rem;
        color: $colorprincipal !important;
    }
}

@media screen and (min-width: 600px) {
    .navbar-brand {
        font-size: 3rem;
        color: $colorprincipal !important;
    }
}

/* img en general */
body img {
    width: 100%;
    height: 100%;
}

/* color de links en nav */
.bottombar .nav-link {
    color: $colorprincipal !important;
}

/* pag index */
/* seccion trabajos recientes */
.tituloTrabajos {
    text-transform: uppercase;
    color: $colorprincipal;
}

/* carousel */
@media screen and (max-width:340px) {
    .carousel-item {
        height: 22rem;
    }
}

@media screen and (min-width:340px) and (max-width:600px) {
    .carousel-item {
        height: 26rem;
    }
}

@media screen and (min-width: 600px) {
    .carousel-item {
        height: 620px;
    }
}

/* seccion servicio */
.titulo__servicio {
    color: $colorprincipal;
}

.listaServicios {
    padding: 0;
}

.link-Lista {
    color: $colorprincipal;
}

@media screen and (max-width:600px) {
    .listaServicios {
        padding: 0;
        gap: 40px;
    }
}

/* seccion contratame */
.contratame {
    text-transform: uppercase;
}

.seccion-contactame {
    background-color: #523874;
}


/* pag servicios */
/* titulo de pag */
.texto-descripcion {
    color: $colorprincipal;
}

.tituloServicio {
    color: $colorprincipal;
    text-transform: uppercase;
}

/* seccion pixel art */
.tituloPixel {
    color: $colorprincipal;
}

.textPixel {
    color: $colorprincipal;
}

.pixelImg1 {
    background-image: url(../media/pixelArt1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pixelImg2 {
    background-image: url(../media/pixelArt2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pixelImg3 {
    background-image: url(../media/pixelArt3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.col-sm-4 {
    height: 320px;
}

/* seccion modelos */
.tituloModelo3D {
    color: $colorprincipal;
}

.textModelo {
    color: $colorprincipal;
}

.modelImg1 {
    background-image: url(../media/3dModel1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modelImg2 {
    background-image: url(../media/3dModel4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modelImg3 {
    background-image: url(../media/3dModel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* seccion twitch */
.tituloTwitch {
    color: $colorprincipal;
}

.textoTwitch {
    color: $colorprincipal;
}

.twitchImg1 {
    background-image: url(../media/twitchEmote1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.twitchImg2 {
    background-image: url(../media/twitchEmote2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.twitchImg3 {
    background-image: url(../media/perfil1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* pag proyectos */
.tituloP {
    color: $colorprincipal;
    text-transform: uppercase;
}

.textoP {
    color: $colorprincipal;
}

._tituloG {
    color: $colorprincipal;
    font-size: 3rem;
    text-transform: uppercase;
}

._imgP {
    row-gap: 15px;
}

/* pag aboutme */
.tituloSobreMi {
    color: $colorprincipal;
    text-transform: uppercase;
}

.textoSobreMi {
    color: $colorprincipal;
}

.sobreMiCont {
    margin-left: auto;
    margin-right: auto;
}

.imgSobreMi1 {
    background-image: url(../media/aboutMe1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 623px;
}

.imgSobreMi2 {
    background-image: url(../media/aboutMe2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 623px;
}

@media screen and (max-width:600px) {
    .imgSobreMi1 {
        background-image: url(../media/aboutMe1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 317px;
    }
    
    .imgSobreMi2 {
        background-image: url(../media/aboutMe2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 317px;
    }
}

/* pag contactame */
.tituloContactame {
    color: $colorprincipal;
}

.textoContactame {
    color: $colorprincipal;
}

.email {
    color: $colorprincipal;
}

.email_Link {
    color: $colorsecundaria;
    text-decoration: none;
}

._tituloLegend {
    color: $colorprincipal;
    font-size: 2rem;
}

.labelNombre {
    color: $colorprincipal;
}

.labelEmail {
    color: $colorprincipal;
}

.labelMensaje {
    color: $colorprincipal;
}

._imgContactame {
    background-image: url(../media/contactame1.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background-color: black;
    height: 83px;
    .socialIconos {
        margin: auto;
        padding: 0;
    
        .icono-lista {
            list-style: none;
        }
        /* color de social */
        .iconos {
            color: $colorsecundaria !important;
        }
    }
}