body {
  background-image: linear-gradient(175deg, #110023, #775ab1);
}

.container {
  margin-right: auto;
  margin-left: auto;
}

/* topbar */
.topbar {
  height: 45px;
}
.topbar .custom-text {
  color: lime !important;
}
.topbar .socialIconos {
  margin: auto;
  /* color de social */
}
.topbar .socialIconos .icono-lista {
  list-style: none;
}
.topbar .socialIconos .iconos {
  color: #b314c7 !important;
}

@media screen and (max-width: 340px) {
  .custom-text {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 340px) and (max-width: 600px) {
  .custom-text {
    font-size: 0.7rem;
  }
}
/* bottombar */
@media screen and (max-width: 340px) {
  .navbar-brand {
    font-size: 1.5rem;
    color: lime !important;
  }
}
@media screen and (min-width: 340px) and (max-width: 600px) {
  .navbar-brand {
    font-size: 2rem;
    color: lime !important;
  }
}
@media screen and (min-width: 600px) {
  .navbar-brand {
    font-size: 3rem;
    color: lime !important;
  }
}
/* img en general */
body img {
  width: 100%;
  height: 100%;
}

/* color de links en nav */
.bottombar .nav-link {
  color: lime !important;
}

/* pag index */
/* seccion trabajos recientes */
.tituloTrabajos {
  text-transform: uppercase;
  color: lime;
}

/* carousel */
@media screen and (max-width: 340px) {
  .carousel-item {
    height: 22rem;
  }
}
@media screen and (min-width: 340px) and (max-width: 600px) {
  .carousel-item {
    height: 26rem;
  }
}
@media screen and (min-width: 600px) {
  .carousel-item {
    height: 620px;
  }
}
/* seccion servicio */
.titulo__servicio, .link-Lista {
  color: lime;
}

.listaServicios {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .listaServicios {
    padding: 0;
    gap: 40px;
  }
}
/* seccion contratame */
.contratame {
  text-transform: uppercase;
}

.seccion-contactame {
  background-color: #523874;
}

/* pag servicios */
/* titulo de pag */
.texto-descripcion {
  color: lime;
}
.texto-descripcion a {
  color: #b314c7;
}

.tituloServicio {
  color: lime;
  text-transform: uppercase;
}

/* seccion pixel art */
.tituloPixel, .textPixel {
  color: lime;
}

.pixelArt1-pic {
  background-image: url(../media/pixelArt1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pixelArt2-pic {
  background-image: url(../media/pixelArt2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pixelArt3-pic {
  background-image: url(../media/pixelArt3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.col-sm-4 {
  height: 320px;
}

/* seccion modelos */
.tituloModelo3D, .textModelo {
  color: lime;
}

.model3D1-foto {
  background-image: url(../media/model3D1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.model3D4-foto {
  background-image: url(../media/model3D4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.model3D3-foto {
  background-image: url(../media/model3D3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* seccion twitch */
.tituloTwitch, .textoTwitch {
  color: lime;
}

.twitchEmote1-emote {
  background-image: url(../media/twitchEmote1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.twitchEmote2-emote {
  background-image: url(../media/twitchEmote2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.perfil1-emote {
  background-image: url(../media/perfil1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* pag proyectos */
.tituloP, .textoP {
  color: lime;
  text-transform: uppercase;
}

._tituloG {
  color: lime;
  font-size: 3rem;
  text-transform: uppercase;
}

._imgP {
  row-gap: 15px;
}

/* pag aboutme */
.tituloSobreMi {
  color: lime;
  text-transform: uppercase;
}

.textoSobreMi {
  color: lime;
}

.sobreMiCont {
  margin-left: auto;
  margin-right: auto;
}

.aboutMe1-about {
  background-image: url(../media/aboutMe1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 623px;
}

.aboutMe2-about {
  background-image: url(../media/aboutMe2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 623px;
}

@media screen and (max-width: 600px) {
  .aboutMe1-about {
    background-image: url(../media/aboutMe1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 317px;
  }

  .aboutMe2-about {
    background-image: url(../media/aboutMe2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 317px;
  }
}
/* pag contactame */
.tituloContactame, .textoContactame, .email, .labelNombre, .labelEmail, .labelMensaje {
  color: lime;
}

.email_Link {
  color: #b314c7;
  text-decoration: none;
}

._tituloLegend {
  color: lime;
  font-size: 2rem;
}

._imgContactame {
  background-image: url(../media/contactame1.jpg);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background-color: black;
  height: 83px;
}
footer .socialIconos {
  margin: auto;
  padding: 0;
  /* color de social */
}
footer .socialIconos .icono-lista {
  list-style: none;
}
footer .socialIconos .iconos {
  color: #b314c7 !important;
}

/*# sourceMappingURL=styles.css.map */
