$colorprincipal: rgb(0, 255, 0);
$colorsecundaria: rgb(179, 20, 199);
$colorbackground: linear-gradient(360deg,#110023,#775ab1);

body {
    background-image: $colorbackground;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

/* topbar */
.topbar {
    height: 45px;
    .custom-text {
        color:$colorprincipal !important;
    }
    .socialIconos {
        margin: auto;
    
        .icono-lista {
            list-style: none;
        }
        /* color de social */
        .iconos {
            color: $colorsecundaria !important;
        }
    }
}

/* img en general */
body img {
    width: 100%;
    height: 100%;
}

/* color de links en nav */
.bottombar .nav-link {
    color: $colorprincipal !important;
}

/* pag index */
/* seccion trabajos recientes */
.tituloTrabajos {
    text-transform: uppercase;
    color: $colorprincipal;
}

.carousel {
    max-width: 885px;
}

/* seccion servicio */
.titulo__servicio, .link-Lista {
    color: $colorprincipal;
}

.listaServicios {
    padding: 0;
}

/* seccion contratame */
.contratame {
    text-transform: uppercase;
}

.seccion-contactame {
    background-color: #523874;
}


/* pag servicios */
/* titulo de pag */
.texto-descripcion {
    @extend .titulo__servicio;
    a {
        color: $colorsecundaria;
    }
}

.tituloServicio {
    @extend .tituloTrabajos;
}

/* seccion pixel art */
.tituloPixel , .textPixel {
    @extend .titulo__servicio;
}

/*mi mixin */
@mixin background($position, $repeat, $bsize) {
    background-position: $position;
    background-repeat: $repeat;
    background-size: $bsize;
}

@each $pixel in pixelArt1, pixelArt2, pixelArt3 {
    .#{$pixel}-pic {
        background-image: url(../media/#{$pixel}.jpg);
        @include background(center, no-repeat, contain);
    }
}

.col-sm-4 {
    height: 320px;
}

/* seccion modelos */
.tituloModelo3D, .textModelo {
    @extend .titulo__servicio;
}

@each $model in model3D1, model3D4, model3D3 {
    .#{$model}-foto {
        background-image: url(../media/#{$model}.jpg);
        @include background(center, no-repeat, contain);
    }
}

/* seccion twitch */
.tituloTwitch, .textoTwitch {
    @extend .titulo__servicio;
}

@each $twitch in twitchEmote1, twitchEmote2, perfil1 {
    .#{$twitch}-emote {
        background-image: url(../media/#{$twitch}.jpg);
        @include background(center, no-repeat, contain);
    }
}

/* pag proyectos */
.tituloP, .textoP {
    @extend .tituloTrabajos;
}

.linkP {
    color: $colorsecundaria;
}

._tituloG {
    @extend .tituloTrabajos;
    font-size: 3rem;
}

._imgP {
    row-gap: 15px;
}

/* pag aboutme */
.tituloSobreMi {
    @extend .tituloTrabajos;
}

.textoSobreMi {
    @extend .titulo__servicio;
}

.sobreMiCont {
    margin-left: auto;
    margin-right: auto;
}

@each $about in aboutMe1, aboutMe2 {
    .#{$about}-about {
        background-image: url(../media/#{$about}.jpg);
        @include background(center, no-repeat, cover);
        height: 623px;
    }
}

/* pag contactame */
.tituloContactame, .textoContactame, .email, .labelNombre, .labelEmail, .labelMensaje {
    @extend .titulo__servicio;
}

.email_Link {
    @extend .linkP;
    text-decoration: none;
}

._tituloLegend {
    @extend .titulo__servicio;
    font-size: 2rem;
}

._imgContactame {
    background-image: url(../media/contactame1.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background-color: black;
    height: 83px;
    .socialIconos {
        margin: auto;
        padding: 0;
        .icono-lista {
            list-style: none;
        }
        /* color de social */
        .iconos {
            @extend .linkP;
        }
    }
}
/*delete later*/
/*no tengo uso para mapas por lo que veo pero incluire este aca para el desafio*/
$redes: (
    red1: red,
    red2: blue,
    red3: green,
);
/*el bucle para usar el mapa*/
@each $red, $fonts in $redes {
    .btn--#{$red} {
        background-color: $fonts;
        height: 200px;
        width: 500px;
        border: 2px solid #111;
        text-align: center;
        font-size: 50px;
        line-height: 200px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0 0 5px #f00;
        font-family: sans-serif;
    }
}
/*end delete*/
@media screen and (max-width:340px) {
    .custom-text {
        font-size: .5rem;
    }
    /* bottombar */
    .navbar-brand {
        font-size: 1.5rem;
        color: $colorprincipal !important;
    }
    /* carousel */
    .carousel-item {
        height: 22rem;
    }
}

@media screen and (min-width:340px) and (max-width:600px) {
    .custom-text {
        font-size: .7rem;
    }
    /* bottombar */
    .navbar-brand {
        font-size: 2rem;
        color: $colorprincipal !important;
    }
    /* carousel */
    .carousel-item {
        height: 26rem;
    }
}

@media screen and (max-width:600px) {
    /* seccion servicio */
    .listaServicios {
        padding: 0;
        gap: 40px;
    }
    /* pag aboutme */
    @each $about in aboutMe1, aboutMe2 {
        .#{$about}-about {
            background-image: url(../media/#{$about}.jpg);
            @include background(center, no-repeat, cover);
            height: 317px;
        }
    }
}

@media screen and (min-width: 600px) {
    /* bottombar */
    .navbar-brand {
        font-size: 3rem;
        color: $colorprincipal !important;
    }
    /* carousel */
    .carousel-item {
        height: 620px;
    }
}